/* @font-face { font-family: Roboto; src: url("Roboto-Regular.ttf"); }
* { margin: 0px; padding: 0px; box-sizing: border-box; font-family: Roboto, sans-serif; } */



body{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

.showcase{
    height: 90vh;
    color: white;
    text-align: center;
    background-image: url(../images/banner.jpg);
}

.showcase .navbar{
    margin-left: 0px;
}

.showcase .navbar svg{
    max-width: 10%;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: red;
    border-radius: 3px;
}