/* @font-face { font-family: Roboto; src: url("Roboto-Regular.ttf"); }
* { margin: 0px; padding: 0px; box-sizing: border-box; font-family: Roboto, sans-serif; } */

body{
    margin: auto;
}

section{
    position: relative;
    text-align: center;
    text-decoration: none;
    background-image: url(./images/banner.jpg);
}

.navbar img{
    position: absolute;
    margin: 0 0 0 0;
}